
doctype html
html
	head
		meta(charset="utf-8")
		title Checkout popup

	body
		h1 Checkout popup

		script.
			window.settings = !{JSON.stringify(locals.settings)}

		script(async defer type="importmap-shim" src="importmap.json")
		script(async defer type="module-shim" src="checkout-popup-script.js")
		script(async defer src="https://unpkg.com/es-module-shims@0.5.1/dist/es-module-shims.js")
